[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
coverage = "*"
pre-commit = "*"
autopep8 = "*"

[packages]
torch = "*"
pandas = "*"
nltk = "*"
spacy = "*"
python-rake = "*"
selenium = "*"
numpy = "*"
yake = {git = "https://github.com/LIAAD/yake"}
chromedriver-py = "89.0.4389.23"

[scripts]
spacy = "python -m spacy download en"
test = "coverage run --include=src/*,tests/* -m unittest discover -s ./tests -p *_test.py"
report = "coverage html"
main = "python ./src/main.py"

[requires]
python_version = "3.7"
